/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .main-nosotros-full-container .main-nosotros-full-content .main-nosotros-full-content-wrapper {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (max-width: 1366px) {
    .main-nosotros-full-container .main-nosotros-full-content .main-nosotros-full-content-wrapper {
        font-size: 2.5rem;
        line-height: 3.7rem;
    }

    .features-container .hexagon-container {
        bottom: 75px;
        right: -20px;
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 1280px) {
    .the-faq .custom-accordion .card-header h2 {
        font-size: 1.5rem !important;
    }

    .main-distribuidores-content h1 {
        font-size: 2.2rem;
    }

    .main-distribuidores-content {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .product-estimate-item-right h2 strong {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .features-container .hexagon-container {
        bottom: 60px;
        right: 15px;
    }

    .main-preguntas-collapse-content .hexagon-container {
        left: -50px;
    }

    .main-preguntas-collapse-content .second-hexagon {
        right: -30px;
        left: unset;
    }
}

@media (max-width: 1170px) {
    .the-navbar .img-logo {
        max-width: 125px;
    }

    .the-hero .hero-text {
        font-size: 1.4rem;
    }

    .features-container .features-item h3 {
        font-size: 1.1rem;
        padding: 0;
    }

    .explainer .explainer-container h2 {
        font-size: 2.2rem;
    }

    .explainer .explainer-container .explainer-content {
        padding: 2rem 2rem;
    }

    .the-product .product-image-bar h2 {
        font-size: 1.9rem;
        margin-bottom: 3rem;
    }

    .the-product .product-overview-item {
        font-size: 0.9rem;
    }

    .the-product .product-overview-item h3 {
        font-size: 1.1rem;
    }

    .the-product .product-overview-item img {
        max-width: 60px;
    }

    .the-product .product-center-bar h3 {
        font-size: 2rem;
    }

    .the-faq .home-faq-container h2 {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    .the-faq .custom-accordion .card-header h2 {
        font-size: 1.2rem !important;
        padding: 1.7rem 3rem;
    }

    .main-nosotros-full-container .main-nosotros-full-content .main-nosotros-full-content-wrapper {
        font-size: 2rem;
        line-height: 3rem;
    }

    .main-distribuidores-content {
        padding: 1.5rem 2rem;
    }

    .main-distribuidores-content h2,
    .main-distribuidores-content h3,
    .main-distribuidores-content h4 {
        margin: 1.5rem 0;
    }

    .distribuidores-contact-container .distribuidores-content .custom-contact-form-control label {
        font-size: 1rem;
    }

    .distribuidores-contact-container .distribuidores-content {
        margin-top: -5vh;
    }

    .main-preguntas-content h1 {
        font-size: 2rem;
    }

    .main-preguntas-content {
        padding: 2rem 2rem;
        padding-bottom: 0;
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .main-preguntas-collapse-content .custom-accordion .card-header h2 {
        font-size: 1.4rem !important;
    }

    .main-preguntas-collapse-content .custom-accordion .card-body {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .product-estimate-item-left h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .product-estimate-item-right h2 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .product-estimate-item-right {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding-right: 3rem;
    }

    .product-estimate-controller .product-estimate-tips h2 {
        font-size: 1.8rem;
    }

    .product-scale-container .product-scale-item label {
        font-size: 1rem;
        margin-top: 0.2rem;
        min-height: 30px;
    }

    .product-scale-results-container h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .product-scale-results-container h2 {
        font-size: 2.8rem;
    }

    .main-distribuidores-content h1:before {
        height: 45px;
        width: 45px;
        left: -20px;
    }

    .main-preguntas-content h1:before {
        height: 45px;
        width: 45px;
        left: -20px;
    }

    .main-contact-data-wrapper {
        padding: 2.5rem 7rem;
    }
}

@media (max-width: 1024px) {
    .the-hero {
        padding: 3rem 1rem;
        padding-bottom: 7rem;
    }

    .main-nosotros-content {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .main-distribuidores-content h1 {
        font-size: 1.7rem;
    }

    .main-distribuidores-content {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .main-distribuidores-content h2,
    .main-distribuidores-content h3,
    .main-distribuidores-content h4 {
        margin: 1.5rem 0;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .main-preguntas-content {
        padding: 1rem 2rem;
        padding-bottom: 0;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .main-product-banner .main-product-banner-text h1 {
        font-size: 2rem;
    }

    .main-product-banner .main-product-banner-text {
        font-size: 1.3rem;
    }

    .product-estimate-item-left h3 {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    .product-estimate-item-right h2 strong {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    .product-estimate-item-right h2 {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .product-estimate-item-right {
        font-size: 0.9rem;
        line-height: 1.7rem;
        padding-right: 2rem;
    }

    .product-estimate-item-left {
        padding-left: 2rem;
    }

    .product-scale-container .product-scale-item h2 {
        font-size: 1.2rem;
    }

    .product-scale-results-container h2 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .main-product-form-title h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .main-product-more-info .main-product-more-info-content h2 {
        font-size: 1.4rem;
    }

    .btn-whatsapp {
        padding: 0.6rem 1rem;
        font-size: 1.1rem;
    }

    .main-contact-data-wrapper {
        padding: 2rem 5.3rem;
    }

    .main-contacto-sub-item-text {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .main-contact-data-wrapper {
        margin-top: 3rem;
        padding: 2rem 5.3rem;
        background: none;
        color: black;
        min-height: auto;
    }

    .main-contacto-sub-item-image img {
        filter: invert(1);
    }


    .main-preguntas-collapse-content .hexagon-container {
        display: none;
    }

    .the-navbar .img-logo {
        max-width: 110px;
    }

    .the-navbar {
        padding: 0;
    }

    .the-navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
        padding: 0.6rem;
    }

    .the-hero {
        padding-bottom: 10rem;
    }

    .features-container .features-container-wrapper {
        margin-top: -3vh;
        padding: 3rem 3rem;
        padding-bottom: 0;
        margin-bottom: 5rem;
    }

    .features-item {
        margin-bottom: 4rem;
    }

    .features-container .features-container-wrapper h2 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .explainer .explainer-container .explainer-content {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .the-product .product-image-bar h2 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .the-product .product-center-bar h3 {
        font-size: 1.7rem;
    }

    .the-product .product-left-bar .product-overview-item {
        padding-left: 0.5rem;
    }

    .the-product .product-right-bar .product-overview-item {
        padding-right: 0.5rem;
    }

    .the-product .product-overview-item h3 {
        font-size: 1rem;
    }

    .the-product .product-overview-item {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .the-faq .custom-accordion .card-body {
        font-size: 1rem;
        padding: 2rem;
    }

    .main-nosotros-full-container .main-nosotros-full-content .main-nosotros-full-content-wrapper {
        max-width: 35vw;
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .main-nosotros-content img {
        max-width: 50vw;
        display: block;
        margin: 0 auto;
    }

    .distribuidores-contact-container .distribuidores-content {
        padding: 1.5rem 2rem;
        padding-bottom: 2rem;
    }

    .main-preguntas-collapse-content {
        margin-top: 3vh;
        border-radius: 10px;
        margin-bottom: 3rem;
    }

    .main-preguntas-collapse-content .custom-accordion .card-header h2 {
        font-size: 1.1rem !important;
        padding: 2rem;
    }

    .main-preguntas-collapse-content .custom-accordion .card-body {
        padding: 2rem;
    }

    .main-product-banner .main-product-banner-text h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .main-product-nav-container .nav-tabs .nav-link {
        font-size: 1.1rem;
    }

    .product-scale-container .product-scale-item {
        padding: 1rem 0.6rem;
        padding-bottom: 1rem;
    }

    .product-scale-container .product-scale-item label {
        font-size: 0.9rem;
        margin-top: 0.7rem;
    }

    .main-product-banner .main-product-banner-text {
        font-size: 1.1rem;
    }

    .main-product-content .main-product-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .main-product-content {
        padding: 7.5rem 1rem;
        padding-bottom: 2rem;
    }

    .product-estimate-controller .product-estimate-controller-buttons {
        padding: 0rem 1rem;
        padding-bottom: .7rem;
    }

    .product-estimate-controller .product-estimate-tips h2 {
        font-size: 1.3rem;
        margin-top: 0;
    }

    .product-estimate-controller .product-estimate-tips h4 {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
    }

    .product-scale-container div.product-scale-item:nth-child(1):after {
        top: 39%;
        right: -63px;
    }

    .product-scale-container div.product-scale-item:nth-child(3):after {
        top: 39%;
        left: -63px;
    }

    .product-scale-results-container h3 {
        padding: 0 5rem;
    }

    .product-scale-results-container h2 {
        font-size: 2.2rem;
    }

    .main-product-form-title h2 {
        font-size: 1.3rem;
    }

    .main-product-form-container {
        padding-top: 1rem;
    }

    .features-container .hexagon-container {
        bottom: 15px;
    }
}

@media (max-width: 800px) {
    .main-distribuidores-content h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .the-hero .hero-text h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .the-hero .hero-text {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .the-hero .btn-hero {
        padding: 0.6rem 2.5rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .the-hero {
        padding-bottom: 7rem;
    }

    .features-container .features-container-wrapper h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .features-container .features-container-wrapper {
        padding: 2rem 1.5rem;
        padding-bottom: 0;
    }

    .features-item {
        margin-bottom: 3rem;
    }

    .explainer .explainer-container h2 {
        font-size: 2.6rem;
    }

    .product-overview-item {
        text-align: center;
    }

    .navbar-collapse {
        padding-top: 1.5rem;
    }

    .the-footer .footer-copy h5 {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        line-height: 1.9rem;
    }

    .the-footer .widget {
        margin-top: 2rem;
    }

    .main-nosotros-content h1 {
        font-size: 2rem;
    }

    .main-nosotros-content {
        padding: 2rem 1.5rem !important;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .main-nosotros-full-container .main-nosotros-full-content .main-nosotros-full-content-wrapper {
        max-width: unset;
        padding: 2rem;
        font-size: 1.9rem;
        text-align: center;
        font-weight: 600;
        line-height: 2.8rem;
        padding-bottom: 1.5rem;
    }


    .main-distribuidores-content {
        padding: 1rem 1rem;
        padding-bottom: 0;
    }

    .distribuidores-contact-container .distribuidores-content {
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 1rem;
    }

    .main-preguntas-collapse-content .custom-accordion .card-header h2 {
        font-size: 1.1rem !important;
        padding: 2rem;
        padding-right: 5rem;
    }

    .main-preguntas-content h1 {
        font-size: 1.5rem;
    }

    .main-preguntas-content {
        padding: 1rem 1rem;
        padding-bottom: 0;
        font-size: 0.9rem;
        line-height: 1.7rem;
    }

    .product-estimate-item-left h3 {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .product-capacity {
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .main-distribuidores-content h1:before {
        left: -10px;
    }

    .distribuidores-contact-container .hexagon-container {
        display: none;
    }

    .main-distribuidores-content img {
        max-width: 100%;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .main-distribuidores-content img {
        max-width: 50vw;
        display: block;
        margin: 0 auto;
    }

    .explainer .explainer-container h2 {
        font-size: 2.1rem;
    }

    .the-product .product-center-bar {
        text-align: center;
        margin-bottom: 3rem;
    }

    .features-container .features-item h3 {
        font-size: 0.9rem;
    }

    .features-item img {
        max-width: 60px;
    }

    .the-faq {
        padding: 2.5rem 1rem;
        padding-bottom: 5rem;
    }

    .the-faq .custom-accordion .card-header h2 {
        font-size: 1.1rem !important;
        padding: 1rem 1.5rem;
        padding-right: 5.5rem;
    }

    .the-faq .custom-accordion .card-header .collapsed ~ .plus {
        top: 25%;
        right: 20px;
    }

    .the-hero .hero-text h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .main-preguntas-content img {
        max-width: 50vw;
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .main-product-banner .main-product-banner-image img {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: -70px;
    }

    .main-product-nav-container .nav-tabs .nav-link {
        font-size: 0.9rem;
        padding: .5rem 1rem;
    }

    .main-product-form-container .main-product-form-image img {
        margin-top: 0;
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }

    .main-product-form-title {
        text-align: center;
        padding-right: 1rem;
    }

    .main-product-more-info .main-product-more-info-content {
        flex-flow: column;
    }

    .btn-whatsapp {
        margin: 1rem 0;
    }

    .main-nosotros-content h1:before {
        height: 55px;
        width: 55px;
        left: -20px;
    }
}

@media (max-width: 533px) {
    .the-hero .btn-hero {
        display: block;
    }

    .features-item {
        margin-bottom: 1.5rem;
    }

    .main-nosotros-content {
        padding: 1rem 1rem !important;
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .main-nosotros-content img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .main-product-banner .main-product-banner-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .main-product-banner .main-product-banner-text {
        font-size: 1.3rem;
        text-align: center;
    }

    .main-product-content .main-product-title {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .product-capacity h3 {
        font-size: 1.3rem;
    }

    .product-estimate-item-left h3 {
        text-align: center;
    }

    .product-estimate-item-right h2 {
        text-align: center;
    }

    .product-estimate-item-right {
        text-align: center;
    }

    .product-estimate-controller .product-estimate-tips h4 {
        font-size: 1.1rem;
    }

    .product-estimate-controller .product-estimate-tips h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .product-scale-results-container h3 {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .product-scale-results-container h2 {
        font-size: 1.5rem;
    }

    .product-scale-container .product-scale-item {
        margin-bottom: 8rem;
    }

    .product-scale-container div.product-scale-item:nth-child(1):after {
        top: unset;
        right: 46%;
        bottom: -105px;
    }

    .product-scale-container div.product-scale-item:nth-child(3):after {
        top: -105px;
        left: 48%;
    }

    .product-scale-results-container {
        margin-top: 0;
        padding: 1.5rem 1rem;
    }

    .main-product-nav-container .nav-tabs .nav-link {
        font-size: 0.8rem;
        padding: .5rem 0.7rem;
    }

    .the-footer .footer-copy h5 {
        font-size: 0.8rem;
        line-height: 1.6rem;
    }
}

@media (max-width: 414px) {
    .explainer .explainer-container h2 {
        font-size: 1.8rem;
    }

    .explainer .explainer-container .explainer-content {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 375px) {
    .features-container .features-container-wrapper h2 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .the-product .product-center-bar .btn-home-product {
        font-size: 1rem;
        display: block;
    }

    .the-faq .home-faq-container h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
