/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@hardblue: #50AAE9;
@blue: #1095f2;
@orange: #FFB12A;
@purple: #665AB0;
@lightpurple: #908BC5;

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    //    font-family: 'Questrial', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 1280px;
}

.page-container {
    min-height: 85vh;
}

.hexagon-container {
    background: url(../images/hexagon-figure.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    z-index: -1;
}

.custom-distribuidores-widget-item {
    font-size: 1.1rem;
    line-height: 1.8rem;
    position: relative;
    margin-bottom: 1.5rem;

    &:after {
        content: ' ';
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 100px;
        background-color: @purple;
    }

    & h3 {
        font-size: 1.1rem;
        letter-spacing: .5px;
        font-weight: 600;
        margin: 1.5px;
    }

    & .dist-link {
        display: block;
        margin: 2.5px 0;

        &:hover {
            color: @purple;
        }
    }
}

.custom-distribuidores-widget-container {
    div.custom-distribuidores-widget-item:last-child {
        &:after {
            display: none;
        }
    }
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
/* HEADER SECTION */
.the-header {
    background: @white;
    color: @black;
    padding: .5rem 1rem;
}

/* NAVBAR SECTION */
.the-navbar {

    & .img-logo {
        max-width: 160px;
    }

    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.9rem;
                padding: 0.9rem;
            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    padding: 3rem 1rem;
    color: @grayc;


    & .footer-item {
        & .widget_media_image {
            padding-bottom: 2rem;

            & img {
                display: block;
                margin: 0 auto;
            }
        }

        & .widgettitle {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
            padding-bottom: 1.5rem;
        }

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                & a {
                    color: @grayc;

                    &:hover {
                        color: @purple;
                    }
                }

                & .nav-link {
                    padding: .5rem 0;
                }
            }
        }
    }

    & .footer-copy {
        text-align: center;
        padding-top: 4rem;

        & h5 {
            font-size: .9rem;
            font-weight: 200;
            letter-spacing: 0.1rem;
        }

        & a {
            color: @grayc;
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* HERO */
.the-hero {
    color: @white;
    background-size: cover !important;
    padding: 5rem 1rem;
    padding-bottom: 10rem;

    & .hero-text {
        font-size: 1.6rem;
        font-weight: 400;

        & h2 {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 1.5rem;

            & strong {
                font-weight: 300;
                color: @blue;
            }
        }
    }

    & .btn-hero {
        border: 2px solid @hardblue;
        background: @hardblue;
        color: @white;
        padding: 0.6rem 3rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: transparent;
        }
    }
}

/* FEATURES */
.features-container {
    position: relative;

    & .hexagon-container {
        position: absolute;
        bottom: 15px;
        right: -70px;
    }

    & .features-container-wrapper {
        background: @white;
        box-shadow: 0 0 150px rgba(41, 41, 41, 0.51);
        padding: 3rem 3.5rem;
        padding-bottom: 5rem;
        text-align: center;
        margin-top: -10vh;
        border-radius: 10px;
        margin-bottom: 8rem;

        & h2 {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 4.5rem;

            & strong {
                font-weight: 300;
                display: block;
                color: @blue;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }
    }

    & .features-item {
        & h3 {
            font-size: 1.1rem;
            margin-top: 20px;
            padding: 0 1.1rem;
            font-weight: 400;
            margin-bottom: 0;
        }

        & img {
            .transition(all .3s ease-in-out);
        }

        &:hover {
            .filter(hue-rotate(-50deg));
        }


    }
}


/* EXPLAINER */
.explainer {
    & .explainer-container {
        text-align: center;
        padding: 2rem 1rem;
        padding-bottom: 5rem;

        & h2 {
            font-size: 2.5rem;
            font-weight: 300;


            & strong {
                font-weight: 300;
                color: @blue;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }

        & .explainer-content {
            padding: 2rem 5rem;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }
    }
}

/* PRODUCT */
.the-product {
    padding: 4rem 1rem;
    padding-bottom: 6rem;
    background: #F4F4F4;

    & .product-left-bar {
        text-align: right;
        font-size: 1.1rem;

        & .product-overview-item {
            padding-left: 2.5rem;
        }
    }

    & .product-right-bar {
        font-size: 1.1rem;

        & .product-overview-item {
            padding-right: 2.5rem;
        }
    }

    & .product-overview-item {
        margin-bottom: 1rem;

        & img {
            .transition(all .3s ease-in-out);
        }

        & h3 {
            color: @purple;
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0.5rem 0;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & h3 {
                color: @blue;
            }

            & img {
                .filter(hue-rotate(60deg));
            }
        }
    }

    & .product-center-bar {
        text-align: center;

        & img {
            padding: 0 2rem;
        }

        & h3 {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 300;
            color: @purple;

            & strong {
                color: @hardblue;
                font-weight: 600;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }

        & .btn-home-product {
            color: @white;
            border: 2px solid @purple;
            background: @purple;
            padding: .5rem 1.5rem;
            margin-top: 2rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            .transition(all .3s ease-in-out);

            &:hover {
                background: transparent;
                color: @purple
            }
        }

    }

    & .product-image-bar {
        text-align: center;

        & h2 {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 4rem;


            & strong {
                display: block;
                font-weight: 300;
                color: @blue;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }

    }
}

/* FAQ */
.the-faq {
    padding: 5rem 1rem;
    padding-bottom: 7rem;
    text-align: center;
    color: @white;

    & .home-faq-container {
        & h2 {
            font-weight: 400;
            font-size: 2.5rem;
            margin-bottom: 5rem;
        }
    }

    & .custom-accordion {
        color: @black;
        border-radius: 0;
        border: 0;

        & .card {
            border-radius: 0;
            border: 0;
        }

        & .card-header {
            padding: 0;
            border-radius: 0;
            border: 0;
            position: relative;
            border-bottom: 1px solid #e8e8e8;
            .transition(all .3s ease-in-out);

            & h2 {
                background: @purple;
                font-size: 1.8rem !important;
                padding: 2.2rem 5rem;
                cursor: pointer;
                color: @white;
                text-align: left;
                border-bottom: 1px solid #e8e8e8;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & h2 {
                    color: @blue;
                }
            }

            & .plus {
                position: absolute;
                top: 30%;
                right: 30px;
                font-size: 2rem;
                padding: .5rem;
                height: 37px;
                width: 35px;
                line-height: 1.2rem;
                background: @white;
                border: 3px solid transparent;
                color: @hardblue;
                border-radius: 100%;

                & span {
                    .transition(all .1s ease-in-out);
                    position: absolute;
                    height: 3px;
                    width: 16px;
                    top: 14px;
                    left: 6.5px;
                    background: @purple;
                }
            }

            & .collapsed {
                background: @white;
                color: @purple;

                & .plus {
                    position: absolute;
                    top: 30%;
                    right: 30px;
                    font-size: 2rem;
                    padding: .5rem;
                    line-height: 1.2rem;
                    background: @white;
                    border: 3px solid #00B9EB;
                    color: #00B9EB;
                    border-radius: 100%;

                    & span {
                        position: absolute;
                        height: 3px;
                        width: 16px;
                        top: 14px;
                        left: 6.5px;
                        background: @hardblue;

                        &:first-child {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        & .card-body {
            .transition(all .3s ease-in-out);
            padding: 1rem 5.5rem;
            text-align: justify;
            font-size: 1.3rem;
            border-bottom: 1px solid #e8e8e8;
        }
    }
}

/* --------------------------------------------------------------
3.- NOSOTROS
-------------------------------------------------------------- */
.main-nosotros-content {
    padding: 3rem 2rem !important;
    font-size: 1.3rem;
    text-align: justify;

    & h1 {
        position: relative;
        color: #555555;
        font-family: 'Questrial', sans-serif;
        position: relative;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        & strong {
            font-weight: 300;
            color: @blue;
            .transition(all .3 ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }

        &:before {
            content: ' ';
            background: url(../images/title-figure.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 65px;
            width: 65px;
            position: absolute;
            top: -5px;
            left: -30px;
        }
    }

    & h2,
    h3,
    h4 {
        font-weight: 300;
        font-family: 'Questrial', sans-serif;
    }
}

.main-nosotros-full-container {
    background: @purple;
    color: @white;

    & .main-nosotros-full-content {
        .display(flex);
        align-items: center;
        justify-content: center;

        & .main-nosotros-full-content-wrapper {
            max-width: 25vw;
            font-size: 4rem;
            font-weight: 600;
            line-height: 4.7rem;
        }
    }
}

/* --------------------------------------------------------------
4.- DISTRIBUIDORES
-------------------------------------------------------------- */
.main-distribuidores-content {
    padding: 3rem 2rem;
    padding-bottom: 0;
    font-size: 1.3rem;
    text-align: left;

    & h1 {
        position: relative;
        font-family: 'Questrial', sans-serif;
        position: relative;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        & strong {
            font-weight: 300;
            color: @blue;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }

        &:before {
            content: ' ';
            background: url(../images/title-figure.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 65px;
            width: 65px;
            position: absolute;
            top: -5px;
            left: -30px;
        }
    }

    & h2,
    h3,
    h4 {
        margin: 2.5rem 0;
        font-weight: 300;
        font-family: 'Questrial', sans-serif;

        & strong {
            font-weight: 300;
            color: @blue;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }
    }
}

.distribuidores-contact-container {
    position: relative;
    padding: 2rem;

    & .hexagon-container {
        position: absolute;
        bottom: -110px;
        left: -100px;
    }

    & .second-hexagon {
        left: 0;
        height: 180px;
        width: 180px;
        bottom: -140px;
    }

    & .distribuidores-content {
        background: @white;
        color: @purple;
        box-shadow: 0 0 75px #777777;
        padding: 3rem 3.5rem;
        padding-bottom: 2rem;
        margin-top: -8vh;
        border-radius: 10px;
        margin-bottom: 5rem;

        & .custom-contact-form-control {
            margin-bottom: 1rem;

            & .required {
                color: @blue;
            }

            & .btn-submit {
                background: @purple;
                border: 2px solid @purple;
                color: @white;
                text-transform: uppercase;
                max-width: 200px;
                display: block;
                margin: 0 auto;
                border-radius: 0;
                padding: 0.7rem 3rem;
                font-size: 1.3rem;
                font-weight: 300;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: transparent;
                    color: @purple;
                }
            }

            & label {
                font-size: 1.2rem;
                width: 100%;
            }

            & .form-control {
                margin-top: .5rem;
            }
        }
    }
}


/* --------------------------------------------------------------
5.- PREGUNTAS FRECUENTES
-------------------------------------------------------------- */
.main-preguntas-content {
    padding: 3rem 2rem;
    padding-bottom: 0;
    font-size: 1.3rem;
    text-align: left;

    & h1 {
        position: relative;
        font-family: 'Questrial', sans-serif;
        position: relative;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        & strong {
            font-weight: 300;
            color: @blue;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }

        &:before {
            content: ' ';
            background: url(../images/title-figure.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 65px;
            width: 65px;
            position: absolute;
            top: -5px;
            left: -30px;
        }
    }

    & h2,
    h3,
    h4 {
        margin: 2.5rem 0;
        font-weight: 300;
        font-family: 'Questrial', sans-serif;

        & strong {
            font-weight: 300;
            color: @blue;
        }
    }
}

.main-preguntas-collapse-content {
    position: relative;
    box-shadow: 0 0 75px #777777;
    padding: 0;
    margin-top: -1vh;
    border-radius: 10px;
    margin-bottom: 5rem;

    & .hexagon-container {
        position: absolute;
        top: 40%;
        left: -100px;
    }

    & .second-hexagon {
        right: -60px;
        left: unset;
        top: 70%;
        height: 100px;
        width: 100px;
    }

    & .custom-accordion {
        color: @black;
        border-radius: 0;
        border: 0;

        & .card {
            border-radius: 0;
            border: 0;
        }

        & .card-header {
            padding: 0;
            border-radius: 0;
            border: 0;
            position: relative;
            border-bottom: 1px solid #e8e8e8;
            .transition(all .3s ease-in-out);

            & h2 {
                background: @purple;
                font-size: 1.8rem !important;
                padding: 2.2rem 5rem;
                cursor: pointer;
                color: @white;
                text-align: left;
                border-bottom: 1px solid #e8e8e8;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                color: @blue;
            }

            & .plus {
                position: absolute;
                top: 30%;
                right: 30px;
                font-size: 2rem;
                padding: .5rem;
                height: 37px;
                width: 35px;
                line-height: 1.2rem;
                background: @white;
                border: 3px solid transparent;
                color: @purple;
                border-radius: 100%;

                & span {
                    .transition(all .1s ease-in-out);
                    position: absolute;
                    height: 3px;
                    width: 16px;
                    top: 14px;
                    left: 6.5px;
                    background: @purple;
                }
            }

            & .collapsed {
                background: @white;
                color: @purple;

                & .plus {
                    position: absolute;
                    top: 30%;
                    right: 30px;
                    font-size: 2rem;
                    padding: .5rem;
                    line-height: 1.2rem;
                    background: @white;
                    border: 3px solid @purple;
                    color: #00B9EB;
                    border-radius: 100%;

                    & span {
                        position: absolute;
                        height: 3px;
                        width: 16px;
                        top: 14px;
                        left: 6.5px;
                        background: @purple;

                        &:first-child {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        & .card-body {
            .transition(all .3s ease-in-out);
            padding: 1rem 5.5rem;
            text-align: justify;
            font-size: 1.3rem;
            border-bottom: 1px solid #e8e8e8;
        }
    }
}

/* --------------------------------------------------------------
6.- CONTACTO
-------------------------------------------------------------- */
.main-contacto-title {
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;

    & h1 {
        position: relative;
        display: inline-block;
        font-family: 'Questrial', sans-serif;

        &:before {
            content: ' ';
            background: url(../images/title-figure.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 65px;
            width: 65px;
            position: absolute;
            top: -5px;
            left: -30px;
        }
    }
}

.main-contacto-form-content {
    position: relative;
    background: @white;
    color: @purple;
    box-shadow: 0 0 75px #777777;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 5rem;

    & .hexagon-container {
        position: absolute;
        bottom: -110px;
        left: -100px;
    }

    & .second-hexagon {
        left: 0;
        height: 180px;
        width: 180px;
        bottom: -140px;
    }

    & .custom-contact-form-control {
        margin-bottom: 1rem;

        & .required {
            color: @blue;
        }

        & .btn-contact-submit {
            background: @purple;
            color: @white;
            border: 2px solid @purple;
            margin: 0 auto;
            margin-right: 0;
            display: block;
            font-size: 1.3rem;
            border-radius: 0;
            padding: .5rem 2rem;
            font-weight: 300;
            .transition(all .3s ease-in-out);

            &:hover {
                background: transparent;
                color: @purple;
            }
        }

        & label {
            font-size: 1.2rem;
            width: 100%;
        }

        & .form-control {
            margin-top: .5rem;
        }
    }
}

.main-contact-data-wrapper {
    background: url(../images/bg-contact.png);
    color: @white;
    width: 100%;
    min-height: 510px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -70px;
    padding: 4rem 7.5rem;

    & h3 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.main-contacto-sub-item {
    margin-bottom: 2rem;
}

.main-contacto-sub-item-text {
    font-size: .9rem;
    line-height: 1.7rem;

    & p {
        margin-bottom: 0;
    }
}


/* --------------------------------------------------------------
7.- PRODUCTOS
-------------------------------------------------------------- */
.main-product-banner {
    position: relative;
    background: #F4F4F4;
    padding: 2rem 0;
    padding-bottom: 0;

    & .hexagon-container {
        position: absolute;
        bottom: -115px;
        right: 35%;
    }

    & .main-product-banner-text {
        font-size: 1.6rem;

        & h1 {
            position: relative;
            font-family: 'Questrial', sans-serif;
            position: relative;
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 1.5rem;

            &:before {
                content: ' ';
                background: url(../images/title-figure.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 65px;
                width: 65px;
                position: absolute;
                top: -5px;
                left: -30px;
            }

            & strong {
                font-weight: 300;
                color: @blue;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }
    }

    & .main-product-banner-image {
        & img {
            margin-bottom: -70px;
        }
    }
}

.main-product-content {
    padding: 12rem 1rem;
    padding-bottom: 7rem;

    & .main-product-title {
        font-family: 'Questrial', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
        text-align: center;

        & strong {
            display: block;
            font-weight: 300;
            color: @blue;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }
    }
}

.main-product-nav-container {
    padding: 2rem 1rem;
    padding-bottom: 5rem;

    & .nav-tabs {
        border-bottom: 1px solid @lightpurple;

        & .nav-link {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.3rem;
            padding: .5rem 2rem;
            background-color: @lightpurple;
            color: @white;

            &:hover {
                background-color: @purple;
            }
        }

        & .nav-link.active {
            color: @purple;
            font-weight: 600;
            background-color: #fff;
            border-color: @lightpurple @lightpurple #fff;

            &:hover {
                color: @blue;
            }
        }
    }
}

.product-capacity {
    text-align: center;
    padding: 1.5rem;

    & h3 {
        font-size: 1.5rem;
    }
}

.product-estimate-item {
    padding: 2rem 1rem;
}

.product-estimate-item-left {
    text-align: right;
    padding-left: 3rem;

    & h3 {
        font-size: 1.8rem;
        line-height: 3rem;
        color: @purple;
    }
}

.product-estimate-item-right {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right: 3rem;

    & h2 {
        color: @purple;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1.2rem;

        & strong {
            display: block;
            font-weight: 600;
            font-size: 2.3rem;
            margin-bottom: .7rem;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @blue;
            }
        }
    }

    & .btn-product-learn-more {
        padding-left: 0;
        color: @purple;
        font-weight: 600;
        .transition(all .3s ease-in-out);

        &:hover {
            color: @blue;
        }
    }
}

.product-estimate-controller {
    padding: 1rem;

    & .product-estimate-controller-buttons {
        .display(flex);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 1rem;
        padding-bottom: .7rem;

        & button {
            margin: 0 2rem;
            font-size: 1.1rem;
            font-weight: 600;
            border: 2px solid #000000;
            padding: 0 .5rem;
            border-radius: 100%;
            background: none;
            .transition(all .3s ease-in-out);

            &:hover {
                border-color: @purple;
                background: @purple;
                color: @white;
            }
        }

        & span {
            color: @blue;
            font-size: 2rem;
            margin: 0 1rem;
            font-weight: 600;
            cursor: not-allowed;
            .transition(all .3s ease-in-out);

            &:hover {
                color: @purple;
            }
        }
    }

    & .product-estimate-tips {
        text-align: center;

        & h4 {
            font-weight: 300;
            margin-bottom: 1.2rem;
        }

        & h2 {
            font-weight: 300;
            margin-top: 2rem;

            & strong {
                color: @blue;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & strong {
                    color: @purple;
                }
            }
        }
    }
}

.product-scale-container {
    padding: 3rem 1rem;

    & .product-scale-item {
        position: relative;
        padding: 2rem 1rem;
        padding-bottom: 1.5rem;
        text-align: center;
        background: white;
        box-shadow: 0 0 46px #0000005e;
        border-radius: 20px;


        & .product-scale-item-title {
            margin-bottom: 1.3rem;
        }

        & h2 {
            text-transform: uppercase;
            color: @purple;
            font-weight: 300;
            font-size: 1.5rem;
        }

        & label {
            text-align: left;
            display: block;
            padding-left: 0.5rem;
            font-size: 1rem;
            font-weight: 300;
            margin-top: .5rem;
            min-height: 35px;

            &:hover input {
                box-shadow: -1px 1px 5px #a2a2a2;
            }
        }
    }

    & div.product-scale-item:nth-child(1) {
        &:after {
            content: '+';
            font-size: 3.5rem;
            position: absolute;
            top: 30%;
            right: -95px;
        }
    }

    & div.product-scale-item:nth-child(3) {
        &:after {
            content: '+';
            font-size: 3.5rem;
            position: absolute;
            top: 30%;
            left: -95px;
        }
    }
}

.product-scale-results-container {
    position: relative;
    margin-top: 5rem;
    padding: 2rem 1rem;
    text-align: center;
    background: white;
    box-shadow: 0 0 46px #0000005e;
    border-radius: 20px;

    &:after {
        content: '=';
        font-size: 3.5rem;
        position: absolute;
        top: -125px;
        left: 49%;
    }

    & h3 {
        font-weight: 300;
        font-size: 1.5rem;
        padding: 0 14rem;
        line-height: 2rem;
    }

    & h2 {
        font-size: 3.5rem;
        margin-top: 1.5rem;
        color: @purple;
    }
}

.main-product-form-title {
    text-align: right;
    padding-right: 3rem;

    & h2 {
        font-weight: 300;
        font-size: 2.3rem;
        line-height: 3rem;
        margin-bottom: 1rem;

        & strong {
            color: @blue;
            .transition(all .3s ease-in-out);
        }

        &:hover {
            & strong {
                color: @purple;
            }
        }
    }
}

.main-product-form-container {
    position: relative;
    background: #f4f4f4;
    padding: 2rem 1rem;
    padding-top: 0;

    & .hexagon-container {
        position: absolute;
        top: -105px;
        left: 35%;
    }

    & .main-product-form-image {
        & img {
            margin-top: -5rem;
        }
    }
}

.main-product-form-content {
    & .custom-contact-form-control {
        & label {
            display: block;
            color: @purple;
            margin-bottom: 1rem;
            font-weight: 600;

            & input {
                margin-top: .5rem;
            }
        }

        & .btn-contact-submit {
            margin: 0 auto;
            margin-right: 0;
            display: block;
            border: 2px solid @purple;
            background: @purple;
            color: @white;
            border-radius: 5px;
            margin-top: 1.5rem;
            padding: 0.7rem 1rem;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 500;
            .transition (all .3s ease-in-out);

            &:hover {
                background: none transparent;
                color: @purple;
            }
        }
    }
}


.product-specs-container {
    padding: 2rem 1rem;

    & .product-specs-item {
        & .product-specs-group-item {
            margin-bottom: .3rem;
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 2rem;

            & h2 {
                color: @purple;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 2rem;
                margin-bottom: 0;
            }
        }

    }

    & .product-specs-item-left {
        text-align: right;
        padding: 0 3rem;
    }

    & .product-specs-item-right {
        text-align: left;
        padding: 0 3rem;
    }

}

.main-product-more-info {
    background: @purple;
    color: @white;
    padding: 1rem;

    & .main-product-more-info-content {
        .display(flex);
        align-items: center;
        justify-content: center;
        text-align: center;

        & h2 {
            font-size: 1.8rem;
            margin-right: 10px;
            font-weight: 300;
            margin: 0;
        }
    }
}

.btn-whatsapp {
    background: #26D367;
    border: 2px solid #26D367;
    color: @white;
    text-transform: uppercase;
    padding: 0.6rem 1.3rem;
    font-size: 1.3rem;
    margin-left: 2rem;
    .transition(all .3s ease-in-out);

    &:hover {
        border-color: @blue;
        background: @blue;
        color: @white;
    }

    & .fa {
        margin-right: 15px;
    }
}
